*, ::before, ::after {
    box-sizing: border-box;
    font-size: 10pt;
}

header {
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 0.5em;
    text-decoration: none;
    color: grey;
    font-weight: 800;
    text-align: center;
    margin: 0.7em;
}

#google-apps {
    width:2.5em;
    
    
}

#profile-pictures {
    width: 2.5em;
    border-radius: 15px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border: 1px solid black;
}

#google-logo {
    margin-bottom: 3em;
    width: 30%;
    

}

#search-icon {
    width: 2.0em;
}


.search-bar-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid #9aa0a6;
    padding-right: 10px;
    border-radius: 18px;
    margin-bottom: 1.7em;
    

}
#search-bar {
    border: none;
    line-height: 25px;
    width: 50%;
    outline: none;
    font-size: 18px;
    word-wrap: break-word;
    flex: 1;
}

input[type="button"] {
    padding: 5px;
}


