*, ::before, ::after {
    box-sizing: border-box;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

body {
    min-width: 375px;
}

header {
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-left a, #nav-right a {
    padding: 0.4em;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0.5em;
}


#nav-footer {
    display: flex;
    justify-content: space-between;
}

#nav-footer a {
    padding: 0 30px;
}

#google-apps {
    width:2.5em;
    
    
}

#profile-pictures {
    width: 2.5em;
    border-radius: 15px;
}

.outer-container {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;


}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    background-color: #f2f2f2;
}


.ulink:hover
{
    text-decoration:underline;
}

#google-logo {
    margin-bottom: 3em;
    width: 50%;
    

}

#carbon {
    text-align: center;
    color: #70757a;
    padding: 15px;
}

#uk {
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

nav {
    padding: 15px;
}

#nav-footer a, #carbon {
    text-decoration: none;
    color: #70757a;
}

#nav-footer a:hover, #carbon:hover {
    text-decoration: underline;
}



#search-icon {
    width: 2.0em;
    margin-right: 1em;
}


.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #9aa0a6;
    padding-right: 10px;
    border-radius: 18px;
    margin-bottom: 1.7em;
    

}

@media(min-width: 619px) {
    .main-container {
        max-width: 582px;
    }
    
}

#search-bar {
    border: none;
    line-height: 25px;
    width: 50%;
    outline: none;
    font-size: 18px;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    flex: 100%;
    font-size: 16px;
    height: 34px;
}


input[type="button"] {
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="button"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;

}



